html {
  font-size: 17px;
}

@media (max-width: 900px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 13px;
  }
}

h1 {
  font-family: "Barlow", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-family: "Barlow", sans-serif;
  font-size: 2rem;
}

h3 {
  font-family: "Barlow", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

input {
  box-sizing: border-box;
}

textarea {
  box-sizing: border-box;
}

.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

span {
  display: block;
}

.character-count {
  font-size: 1rem;
  color: #ec1c24;
  padding-top: 2px;
}

.home-page {
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.home-page h1 {
  position: relative;
}

.home-page h1::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  height: 2px;
  width: 70px;
  background-color: #ec1c24;
}

.home-page .input-boxes {
  margin-top: 40px;
}

.home-page .fstn, .home-page .lstn {
  width: 50% !important;
}

.home-page .lstn {
  padding-left: 15px;
}

.home-page .flex-inputs {
  display: flex;
}

.home-page textarea {
  height: 120px;
}

.home-page .invalid {
  border: 1px solid #ec1c24 !important;
}

.home-page .inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.home-page .inputBox .error-hint {
  color: #ec1c24;
  font-size: 1rem;
}

.home-page #text {
  display: block;
  color: #000;
  font-weight: 300;
  font-size: 1rem;
}

@media only screen and (max-width: 991px) {
  .home-page .bind {
    display: flex;
    align-items: center;
  }
}

.home-page .bind label {
  margin-left: 10px;
}

.home-page .inputBox input,
.home-page .inputBox textarea {
  width: 100%;
  border: 1px solid #343a40;
  padding: 10px;
  color: #111;
  outline: none;
  font-size: 16px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.home-page .inputBox input[type="submit"] {
  font-size: 1em;
  color: #ec1c24;
  background: transparent;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  max-width: 100px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  border: 1px solid #ec1c24;
}

.home-page .submit-btn {
  margin-top: 20px;
}

.home-page .inputBox input[type="submit"]:hover {
  background-color: #ec1c24;
  color: #eee;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.home-page .align-center {
  padding: 170px 0px;
}

@media only screen and (max-width: 991px) {
  .home-page .align-center {
    padding: 0px;
    margin-top: 30px;
  }
}

.home-page .align-center p {
  font-size: 1.3rem;
  color: #343a40;
  font-weight: 400;
}

.home-page .align-center a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #212d31;
  display: block;
}

.home-page .align-center a i {
  color: #212d31;
}

.home-page .align-center .tel {
  color: #ec1c24;
}
/*# sourceMappingURL=style.css.map */